iptables -N IN_INFRA
iptables -I INPUT -j IN_INFRA
iptables -I IN_INFRA -m state --state ESTABLISHED -j ACCEPT
iptables -N OUT_INFRA
iptables -I OUTPUT -j OUT_INFRA
iptables -I OUT_INFRA -m state --state ESTABLISHED -j ACCEPT
iptables -I OUT_INFRA -p udp -s 1.2.3.7 -d 1.1.1.1 --dport 53 --sport 1025:65535 -m comment --comment "iptables-exporter: access to 53/udp on virtual-public-dns" -j ACCEPT
iptables -I IN_INFRA -p udp -s 1.2.4.0/24 -d 1.2.3.7 --dport 53 --sport 1025:65535 -m comment --comment "iptables-exporter: allow subnet-abc on 53/udp" -j ACCEPT
iptables -I IN_INFRA -p udp -s 1.2.3.5 -d 1.2.3.7 --dport 53 --sport 1025:65535 -m comment --comment "iptables-exporter: allow admin-web-01.example.com on 53/udp" -j ACCEPT
iptables -I IN_INFRA -p udp -s 1.2.3.6 -d 1.2.3.7 --dport 53 --sport 1025:65535 -m comment --comment "iptables-exporter: allow web-01.example.com on 53/udp" -j ACCEPT
iptables -I IN_INFRA -p udp -s 1.2.3.4 -d 1.2.3.7 --dport 53 --sport 1025:65535 -m comment --comment "iptables-exporter: allow laptop-01.example.com on 53/udp" -j ACCEPT
iptables -I IN_INFRA -p udp -s 1.2.3.4 -d 1.2.3.7 --dport 53 --sport 1025:65535 -m comment --comment "iptables-exporter: allow laptop-01.example.com on 53/udp" -j ACCEPT
